<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
	<!-- <parameter name = "URL" value = ""/> -->
	<listeners>
		<listener class-name = "Listeners"/>
	</listeners>
	
	<test name="Validate HomePage">
		<classes>
			<class name="HomePage" />
		</classes>
	</test> 


	<test name="Validate NavigationBar">
		<classes>
			<class name="ValidateNavBar" />
		</classes>
	</test>

	
	<test name="Validate CourseTitle">
		<classes>
			<class name="Validatecoursetitle" />
		</classes>
	</test><!-- Test -->
	
	
</suite> <!-- Suite -->
